@model IEnumerable<TaskManager.Entity.Models.Project>

@{
    ViewData["Title"] = "Projects";
}

<h1>Projects</h1>

<table class="table table-bordered table-hover">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ProjectName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Description)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.ProjectName)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @if (User.IsInRole("Admin"))
                    {
                        <a asp-action="Edit" asp-route-id="@item.ProjectId" class="btn btn-primary">Edit</a>
                        <a asp-action="Delete" asp-route-id="@item.ProjectId" class="btn btn-danger">Delete</a>
                        <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info">Details</a>
                    }
                    else
                    {
                        <a asp-action="Details" asp-route-id="@item.ProjectId" class="btn btn-info">Details</a>
                    }
                </td>
            </tr>
        }
    </tbody>
</table>

@if (User.IsInRole("Admin"))
{
    <div>
        <a asp-action="Create" class="btn btn-success">Add</a>
    </div>
}